::-moz-selection { /* Code for Firefox */
    color: skyblue;
    background: transparent;
}

::selection {
    color: skyblue;
    background: transparent;
}
html, body, * {
	padding: 0;
	margin: 0;
	outline: 0;
	border: 0;
}
body {
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(113,113,113,1) 95%);
	overflow-x: hidden;
}
@font-face {
	font-family: 'josefinR';
	src: url('../fonts/JosefinSans-Regular.ttf');
}
@font-face {
	font-family: 'josefinT';
	src: url('../fonts/JosefinSans-Thin.ttf');
}
@font-face {
	font-family: 'josefinB';
	src: url('../fonts/JosefinSans-Bold.ttf');
}
@font-face {
	font-family: 'josefinL';
	src: url('../fonts/JosefinSans-Light.ttf');
}
@font-face {
	font-family: "voice";
	src: url('../fonts/Voice.otf');
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}


/* ================= MODAL ========================= */
div#modal {
	width: 1600px;
	height: 90px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -800px;
	z-index: 999;
	overflow-x: hidden;
}
div#modal .modal-container {
	position: relative;
	width: 100%;
	height: 100%;
}
div#modal .modal-container .modal-bg {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 80px;
	background-color: #ccc;
	transition: all 1s ease;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
div#modal:hover .modal-container .modal-bg {
	width: 1800px;
	left: -100px;
	margin-left: 0;
}
div#modal .X {
	width: 60px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
div .X-line {
	width: 100%;
	height: 4px;
	background-color: #222;
	position: absolute;
	top: 50%;
	left: 0;
	transition: all 0.25s;
	border-radius: 50px;
}
div .X-line:nth-of-type(1) {
	transform: translateY(-12px);
}
div .X-line:nth-of-type(3) {
	transform: translateY(12px);
}
div#modal:hover .X-line:nth-of-type(2) {
	display: none;
}
div#modal:hover .X-line:nth-of-type(1) {
	transform: translateY(0) rotateZ(45deg);
}
div#modal:hover .X-line:nth-of-type(3) {
	transform: translateY(0) rotateZ(-45deg);
}

/*  ============== MODAL LINKS ========================== */

.modal-links {
	display: flex;
	height: 80px;
	justify-content: space-between;
	padding: 0 50px;
	box-sizing: border-box;
	z-index: 9999;
	position: relative;
}
.modal-links .modal-flex-col {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 500px;
}
.modal-links .modal-flex-col a {
	text-decoration: none;
	color: #222;
	font-family: 'josefinB', sans-serif;
	font-size: 26px;
	transform: translateY(-50px);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease-out 0.5s, transform 0.3s ease-out 0.5s;
}
.modal-links .modal-flex-col .linkbox {
	margin: 0 20px;
}
.modal-links .modal-flex-col .linkbox:hover {
	text-decoration: underline;
}
div#modal:hover .modal-links .modal-flex-col a{
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}
/*  ============== LAYER 1 ============================== */

.layer-1 {
	width: 100%;
	height: 760px;
	padding-top: 230px;
	box-sizing: border-box;
	background-image: url('../images/bg1.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.layer-1 .heading {
	font-size: 120px;
	color: #fff;
	font-family: 'voice', sans-serif;
	text-align: center;
}
.layer-1 .underheading {
	font-size: 35px;
	color: #eee;
	font-family: 'josefinL', sans-serif;
	text-align: center;
	letter-spacing: 4px;
}
.layer-1 .icon-container {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	height: 60px;
}
.layer-1 .icon-container .coli {
	width: 40%;
	height: 100%;
	padding: 0 30px;
	box-sizing: border-box;
}
.layer-1 .icon-container .coli .col {
	width: 33.3%;
	height: 100%;
}
.layer-1 .icon-container .coli .col a {
	cursor: default;
}
.layer-1 .icon-container .coli .col a img{
	display: block;
	margin: auto;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: all 0.3s;
}
.layer-1 .icon-container .coli .col a img:hover {
	transform: scale(1.15);
}
/* ============= AVATAR ================================ */

.avatar-divider {
	width: 100%;
	height: 4px;
	background-color: #fff;
	position: relative;
}
.avatar-divider::before {
	content: '';
	position: absolute;
	top: -200px;
	left: 50%;
	width: 300px;
	height: 300px;
	border: 4px solid #fff;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-o-border-radius: 999px;
	transform: translateX(-150px);
	z-index: 1;
	background-color: #aaa;
	background-image: url('../images/avatar.jpg');
	background-size: 100%;
	background-position: top;
	box-sizing: border-box;
}


/* ============ LAYER 2 ================================== */

.layer-2 {
	width: 100%;
	background-color: #dedede;
	padding-top: 200px;
	box-sizing: border-box;
	height: 740px;
}
.layer-2 .l2-heading {
	color: #444;
	font-size: 50px;
	text-align: center;
	font-family: 'josefinR',sans-serif;
}
.layer-2 .l2-underheading {
	color: #00CCAA;
	font-size: 40px;
	text-align: center;
	font-family: 'josefinR', sans-serif;
	margin-top: 15px;
}
.layer-2 .col {
	width: 33%;
	position: relative;
	cursor: pointer;
}
.layer-2 .l2-container {
	margin-top: 80px;
	display: block;
}
.layer-2 .col .img {
	width: 80px;
	height: 80px;
	border: 3px solid #00CCAA;
	background-color: transparent;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-o-border-radius: 999px;
	margin: auto;
	position: relative;
}
.layer-2 .col .img1 {
	background-image: url('../images/goal1.png');
}
.layer-2 .col .img2 {
	background-image: url('../images/goal2.png');
}
.layer-2 .col .img3 {
	background-image: url('../images/goal3.png');
}
.layer-2 .heading {
	color: #00CCAA;
	font-size: 40px;
	text-align: center;
	font-family: 'josefinB', sans-serif;
	margin-top: 20px;
}
.layer-2 .text {
	color: #444;
	width: 60%;
	margin: auto;
	font-size: 30px;
	font-family: 'josefinR', sans-serif;
	margin-top: 20px;
	text-align: center;
}

.layer-2 .col .img::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	border: 3px solid #00CCAA;
	top: -3px;
	left: -3px;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-o-border-radius: 999px;
}
.layer-2 .col:hover .img {
	box-shadow: 0 0 7px #00CCAA;
}
.layer-2 .col:hover .img::before {
	transform: scale(1.6);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.5s;
}

/* ============== LAYER 3 ============================= */

.layer-3 {
	width: 100%;
	height: 600px;
	background-image: url('../images/bg2.jpg');
	background-position: center;
	background-size: cover;
	padding: 100px 100px 0 100px;
	box-sizing: border-box;
	position: relative;
}
.layer-3 #pinPoint-5 {
	position: absolute;
	top: -10vh;
	left: 0;
	visibility: hidden;
}
.layer-3 h1 {
	font-size: 50px;
	font-family: josefinL, sans-serif;
	text-align: center;
	letter-spacing: 4px;
	color: #fff;
	position: relative;
}
.layer-3 h1::before {
	content: '';
	position: absolute;
	top: 110%;
	left: 50%;
	width: 100px;
	height: 2px;
	background-color: #00CCAA;
	transform: translate(-50%,-50%);
}
.layer-3 .l3-container .batteries {
	width: 60%;
	height: 400px;
	margin: 80px auto;
}
.batteries .col {
	width: 50%;
}
.batteries .col h2 {
	font-size: 25px;
	font-family: josefinL, sans-serif;
	color: #eee;
	text-align: center;
}
.layer-3 .l3-container .batteries .battery {
	width: 300px;
	height: 60px;
	margin: 20px auto;
	background-image: url('../images/battery.png');
	background-size: 100%;
	background-position: center;
	padding: 15px 20px;
	box-sizing: border-box;
}
.layer-3 .l3-container .batteries .battery .overload {
	height: 30px;
	background-color: green;
	animation: enlarge 1s ease-out 0s 1 normal;
}
#btr1 {
	width: 230px;
}
#btr2 {
	width: 210px;
}
#btr3 {
	width: 150px;
}
#btr4 {
	width: 110px;
}

@keyframes enlarge {
	from {
		width: 0;
		background-color: red;
	} to {
		width: 1;
		background-color: green;
	}
}

/* ============== LAYER 4 ============================= */

.layer-4 {
	width: 100%;
	height: 760px;
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(113,113,113,1) 95%);
	padding: 60px 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
.layer-4 h1 {
	font-size: 32px;
	font-family: josefinR, sans-serif;
	color: #333;
	text-align: center;
}
.layer-4 .roadmap {
	width: 100%;
	padding: 200px 70px 0;
	box-sizing: border-box;
}
.layer-4 .roadmap .col.left {
	width: 30%;
}
.layer-4 .roadmap .col.right {
	width: 70%;
	transform: translate3d(150px,-100px,0);
	position: relative;
}
.layer-4 .roadmap .dot-wrapper {
	transform: translate3d(200px, -75px, 0);
}
.layer-4 .roadmap .dot {
	width: 20px;
	height: 20px;
	border-radius: 999px;
	margin-top: 60px;
	margin-left: 60px;
	position: relative;
	cursor: pointer;
}

.layer-4 .roadmap .dot::before {
	content: '';
	width: 35px;
	height: 35px;
	border: 2px solid #333;
	border-radius: 999px;
	position: absolute;
	top: -7.5px;
	left: -7.5px;
	box-sizing: border-box;
}
.layer-4 .roadmap .dot::after {
	content: '';
	width: 2px;
	height: 47px;
	background-color: #333;
	position: absolute;
	top: 25.5px;
	left: 8px;
}
.layer-4 .roadmap .dot:nth-of-type(1) {
	background-color: #333;
}
.layer-4 .roadmap .dot:nth-of-type(4)::after {
	display: none;
}
/*
.block-1,
.block-2,
.block-3,
.block-4 {
	margin: auto;
	color: #fff;
	font: 22px/60px josefinB;
	text-align: center;
	height: 60px;
	letter-spacing: 2px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all 0.25s;
}
.block-1 {
	width: 160px;
	background-color: #999;
}
.block-2 {
	width: 200px;
	background-color: #777;
}
.block-3 {
	width: 240px;
	background-color: #555;
}
.block-4 {
	width: 280px;
	background-color: #333;
}
.block-1:hover,
.block-2:hover,
.block-3:hover,
.block-4:hover {
	border-left: 20px solid #00CCAA;
}
*/
.layer-4 .col .bubble {
	width: 420px;
	height: 420px;
	position: absolute;
	border: 2px solid rgba(0,0,0,0.8);
	box-sizing: border-box;
	border-radius: 999px;
	animation: playSwitchh .5s ease-in-out 0s 1 normal;
}
.layer-4 .col .bubble2 {
	width: 500px;
	height: 500px;
	position: absolute;
	top: -40px;
	left: -40px;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 999px;
	box-sizing: border-box;
	animation: playSwitch .5s ease-in-out 0s 1 normal;
	z-index: 2;
}
@keyframes playSwitch {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		transform: scale(0.5);
	} to {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: scale(1);
	}
}
@keyframes playSwitchh {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		transform: scale(0.5);
	} 70% {
		opacity: 0.7;
		filter: alpha(opacity=70);
		transform: scale(1.15);
	} to {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: scale(1);
	}
}
@keyframes playSwitchhh {
	from {
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translate3d(-50px,0,0) scale(0.2);
	} to {
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translate3d(-50px,0,0) scale(1);
	}
}
.layer-4 .col p {
	font-family: josefinR, sans-serif;
	font-size: 22px;
	padding: 100px 110px;
	box-sizing: border-box;
	position: relative;
	width: 60%;
	height: 90%;
	animation: playSwitchhh 0.5s ease-out 0s 1 normal;
	transform: translate3d(-50px,0,0);
}
.layer-4 .col p i {
	font-size: 26px;
	font-style: normal;
	font-family: josefinB, sans-serif;
	text-align: center;
	display: block;
	position: relative;
}
#bubb2, #bubb3, #bubb4 {
	display: none;
}
/* ============= LAYER 5 =============================== */

.layer-5 {
	width: 100%;
	background-color: #181818;
	box-sizing: border-box;
	padding-top: 75px;
}
.layer-5 h1 {
	text-align: center;
	color: #eee;
	font-size: 60px;
	letter-spacing: 5px;
	font-family: voice, sans-serif;
	position: relative;
}
.layer-5 h1::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 2px;
	background-color: #00CCAA;
}

.warning {
	font-family: josefinR, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 25px;
	margin-top: 40px;
}

/* ========== LAYER 5 - FLEX BOX ===============*/
.layer-5 .flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
	padding: 50px 0;
	box-sizing: border-box;
}
.layer-5 .box {
	position: relative;
	flex-basis: 43%;
	height: 400px;
	margin-top: 50px;
	padding: 30px;
	box-sizing: border-box;
}
.layer-5 .box:nth-of-type(1){
	order: 6;
}
.layer-5 .box:nth-of-type(2){
	order: 5;
}
.layer-5 .box:nth-of-type(3){
	order: 4;
}
.layer-5 .box:nth-of-type(4){
	order: 1;
}
.layer-5 .box:nth-of-type(5){
	order: 3;
}
.layer-5 .box:nth-of-type(6){
	order: 2;
}
.layer-5 .box a {
	width: 100%;
	height: 400px;
	position: relative;
	text-decoration: none;
	color: #fff;
	font-size: 32px;
	font-family: 'josefinR', sans-serif;
}
.layer-5 .box a div {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: rgba(0,0,0,0.6);
	padding: 120px 50px 20px;
	box-sizing: border-box;
	opacity: 0;
	transform: scale(0);
	transition: all 0.3s;
	z-index: 1;
}
.layer-5 .box img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease-out;
}
.layer-5 .box:hover img {
	filter: blur(3px) brightness(0.6);
}
.layer-5 .box:hover a div {
	opacity: 1;
	transform: scale(1);
}
.layer-5 .box h2 {
	position: absolute;
	top: 30%;
	left: 50%;
	text-shadow: 0px 0px 5px #000;
	font-size: 50px;
	font-family: 'voice', 'josefinB', sans-serif;
	transform: translate3d(-50%, 0, 0);
	color: #fff;
	text-align: center;
	transition: all 0.3s ease-out;
	z-index: 2;
}
.layer-5 .box:hover h2 {
	font-size: 35px;
	transform: translate3d(-50%, -50px, 0);
}

/* ============== LAYER 6 ========================== */

.layer-6 {
	width: 100%;
	height: 100vh;
	background-image: url('../images/bg5.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	transform: translateY(-5px);
}
.layer-6 .container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 200px 200px 0px;
}
.layer-6 .container .col.right {
	width: 40%;
}
.layer-6 .container .col.left {
	width: 60%;
}
.layer-6 .col h2 {
	color: #fff;
	font-size: 45px;
	font-family: josefinR, sans-serif;
	letter-spacing: 3px;
	position: relative;
}
.layer-6 .col h2::after {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 140px;
	height: 3px;
	background-color: #fff;
}
.layer-6 .col p {
	color: #fff;
	font-size: 25px;
	font-family: josefinR, sans-serif;
	position: relative;
	margin-top: 30px;
}
.p1img::before {
	content: '';
	position: absolute;
	top: -10px;
	left: -45px;
	width: 25px;
	height: 45px;
	background-image: url('../images/white phone.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.p2img::before {
	content: '';
	position: absolute;
	top: 0;
	left: -50px;
	width: 35px;
	height: 35px;
	background-image: url('../images/white tick.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.p3img::before {
	content: '';
	position: absolute;
	top: 0;
	left: -50px;
	width: 35px;
	height: 22px;
	background-image: url('../images/white mail.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.layer-6 form {
	width: 100%;
	box-sizing: border-box;
	padding: 25px 40px 25px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	background-color: #fff;
}
.layer-6 form input,
.layer-6 form textarea {
	display: block;
	margin-top: 10px;
	font-size: 18px;
	color: #333;
}
.layer-6 form input[type="text"] {
	width: 70%;
	height: 50px;
	border-bottom: 2px solid #333;
}
.layer-6 form textarea {
	width: 70%;
	height: 80px;
	resize: none;
	border-bottom: 2px solid #333;
}
.layer-6 form input[type="submit"] {
	margin: 30px auto 10px;

	width: 160px;
	height: 40px;
	color: #fff;
	font: 20px/40px josefinL;
	letter-spacing: 2px;
	background-color: #00CCAA;
	border: 2px solid #00CCAA;
	border-radius: 999px;
	-webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	-o-border-radius: 999px;
	cursor: pointer;
	transition: all 0.3s;
}
.layer-6 form input[type="submit"]:hover {
	background-color: transparent;
	color: #00CCAA;
}
.layer-6 form p.formWarning {
	color: red;
	font-size: 100%;
	font-family: josefinB, sans-serif;
}
/* ============ FOOTER ========================== */

footer {
	width: 100%;
	height: 60px;
	background-color: #333;
	border-top: 5px solid #555;
}
footer p {
	text-align: center;
	color: #fff;
	font: 20px/60px josefinR;
}


/* ========= COLORS ============================ */

.orange {
	background-color: orange;
}
.yellowgreen {
	background-color: yellowgreen;
}
.pink {
	background-color: pink;
}
.grey {
	background-color: grey;
}
.teal {
	background-color: teal;
}
.green {
	background-color: green;
}
.purple {
	background-color: purple;
}
.coral {
	background-color: coral;
}
.dodgerblue {
	background-color: dodgerblue;
}
.red {
	background-color: red;
}


/* =========== MEDIA QUERIES =================== */
@media only screen and (min-width: 1500px) {
	.layer-1 {
		width: 1600px;
		margin: auto;
	}
	.layer-2 {
		width: 1600px;
		margin: auto;
	}
	.avatar-divider {
		width: 1600px;
		margin: auto;
	}
	.layer-3 {
		width: 1600px;
		margin: auto;
		padding: 100px 0;
	}
	.layer-4 {
		width: 1600px;
		margin: auto;
	}
	.layer-4 .col p {
		padding: 100px 150px;
		transform: translateX(-75px);
	}
	@keyframes playSwitchhh {
		from {
			opacity: 0;
			filter: alpha(opacity=0);
			transform: translate3d(-75px,0,0) scale(0.2);
		} to {
			opacity: 1;
			filter: alpha(opacity=100);
			transform: translate3d(-75px,0,0) scale(1);
		}
	}
	.layer-5 {
		width: 1600px;
		margin: auto;
	}
	.layer-6 {
		width: 1600px;
		height: 750px;
		margin: auto;
	}
	footer {
		width: 1600px;
		margin: auto;
	}
}
@media only screen and (max-width: 1440px) {
	div#modal {
		width: 1024px;
		margin-left: -512px;
	}
	div#modal:hover .modal-container .modal-bg {
		width: 1224px;
		left: -100px;
		margin-left: 0;
	}
	.modal-links .modal-flex-col {
		width: 400px;
	}
	.modal-links .modal-flex-col a {
		font-size: 20px;
	}
	.modal-links .modal-flex-col:nth-of-type(2) .linkbox {
		margin: 0 15px;
	}
	.layer-1 {
		width: 1024px;
		margin: auto;
		padding-top: 200px;
		height: 600px;
	}
	.layer-1 .heading {
		font-size: 100px;
	}
	.layer-1 .icon-container .coli {
		width: 35%;
	}
	.avatar-divider::before {
		width: 250px;
		height: 250px;
		top: -150px;
		transform: translateX(-125px);
	}
	.layer-2 {
		width: 1024px;
		margin: auto;
		height: 760px;
	}
	.avatar-divider {
		width: 1024px;
		margin: auto;
	}
	.layer-3 {
		width: 1024px;
		margin: auto;
		padding: 100px 0;
	}
	.layer-3 .l3-container .batteries{
		width: 75%;
	}
	.layer-4 {
		width: 1024px;
		margin: auto;
	}
	.layer-4 .roadmap .dot-wrapper {
		transform: translate3d(100px, -75px, 0);
	}
	.layer-4 .col p {
		width: 85%;
	}
	.layer-5 {
		width: 1024px;
		margin: auto;
	}
	.layer-5 .box {
		height: 350px;
	}
	.layer-5 .box h2 {
		font-size: 45px;
	}
	.layer-5 .box:hover h2 {
		font-size: 35px;
	}
	.layer-5 .box a {
		font-size: 23px;
		font-family: 'josefinL', sans-serif;
	}
	.layer-6 {
		width: 1024px;
		height: 750px;
		margin: auto;
	}
	.layer-6 .container {
		padding: 200px 110px 0px;
	}
	.layer-6 form {
		padding: 25px 30px 25px;
	}
	.layer-6 form input[type="text"], .layer-6 form textarea {
		width: 85%;
	}
	footer {
		width: 1024px;
		margin: auto;
	}
}
@media only screen and (max-width: 1024px) {
	.layer-1 {
		width: 100%;
		height: 600px;
		padding-top: 165px;
	}
	.layer-1 .icon-container .coli .col a img {
		width: 45px;
		height: 45px;
	}
	.layer-2 {
		width: 100%;
		padding-top: 150px;
		height: 700px;
	}
	.layer-1 .heading {
		font-size: 95px;
	}
	.layer-2 .l2-underheading {
		font-size: 30px;
	}
	.layer-2 .text {
		font-size: 25px;
	}
	div.avatar-divider {
		width: 100%;
	}
	div.avatar-divider::before {
		width: 220px;
		height: 220px;
		top: -140px;
		transform: translateX(-110px);
	}
	.layer-3 {
		width: 100%;
	}
	.layer-3 .l3-container .batteries .battery {
		width: 250px;
		height: 50px;
		padding: 12px 20px;
	}
	.layer-3 .l3-container .batteries .battery .overload {
		height: 26px;
	}
	#btr1 {
		width: 180px;
	}
	#btr2 {
		width: 160px;
	}
	#btr3 {
		width: 130px;
	}
	#btr4 {
		width: 100px;
	}
	.avatar-divider {
		width: 800px;
	}
	.batteries .col.right {
		transform: translateX(50px);
	}
	.batteries .col.left {
		transform: translateX(-50px);
	}
	.layer-4 .roadmap .col.right {
		transform: translate3d(90px, -60px, 0);
	}
	.layer-4 .roadmap .dot-wrapper {
		transform: translate3d(25px, -75px, 0);
	}
	.layer-4 {
		width: 100%;
		height: 650px;
	}
	.layer-4 .roadmap {
		padding: 130px 70px 0;
	}
	.layer-4 .col .bubble {
		width: 370px;
		height: 370px;
	}
	.layer-4 .col .bubble2 {
		width: 420px;
		height: 420px;
		top: -25px;
		left: -25px;
	}
	.layer-4 .col p {
		width: 70%;
		padding: 90px 80px;
		transform: translateX(-25px);
		font-size: 20px;

	}
	@keyframes playSwitchhh {
		from {
			opacity: 0;
			filter: alpha(opacity=0);
			transform: scale(0.2);
			transform: translateX(-25px);
		} to {
			opacity: 1;
			filter: alpha(opacity=100);
			transform: scale(1);
			transform: translateX(-25px);
		}
	}
	.layer-4 #roadmapContent {
		margin: 0;
		margin-block-start: 0;
		margin-block-end: 0;
	}
	.layer-5 {
		width: 100%;
	}
	.layer-5 .portfolio {
		width: 100%;
	}
	.layer-5 .divider {
		height: 70px;
	}
	.layer-5 .box {
		height: 300px;
	}
	.layer-5 .warning {
		font-size: 18px;
	}
	.layer-5 .box a div {
		padding: 105px 25px 20px;
	}
	.layer-5 .box:hover h2 {
		font-size: 28px;
	}
	.layer-5 .box a {
		font-size: 18px;
	}
	.layer-6 {
		width: 100%;
		height: 600px;
	}
	.layer-6 .container {
		padding: 140px 60px 0px 120px;
	}
	.layer-6 .col h2 {
		font-size: 35px;
	}
	.layer-6 .container .col.left {
		width: 50%;
	}
	.layer-6 .container .col.right {
		width: 45%;
	}
	.layer-6 form {
		padding: 5px 40px 15px;
	}
	.layer-6 form input[type="text"] {
		height: 35px;
	}
	.layer-6 form textarea {
		height: 45px;
	}
	footer {
		width: 100%;
		border-top: 3px solid #555;
	}
}
@media only screen and (max-width: 768px) {
	div#modal {
		width: 768px;
		margin-left: -384px;
	}
	div#modal .modal-container .modal-bg {
		width: 70px;
		height: 60px;
		margin-left: -35px;
	}
	div#modal .X {
		width: 40px;
		height: 60px;
	}
	div#modal:hover .modal-container .modal-bg {
		width: 968px;
		left: -100px;
		margin-left: 0;
	}
	.modal-links .modal-flex-col {
		width: 300px;
		height: 65px;
	}
	.modal-links .modal-flex-col a {
		font-size: 15px;
	}
	.modal-links .modal-flex-col:nth-of-type(2) .linkbox {
		margin: 0 10px;
	}
	.layer-1 {
		height: 450px;
	}
	.layer-1 .heading {
		font-size: 50px;
	}
	.layer-1 .underheading {
		font-size: 18px;
	}
	.layer-1 .icon-container .coli .col a img {
		width: 35px;
		height: 35px;
	}
	div.avatar-divider::before {
		width: 200px;
		height: 200px;
		top: -125px;
		transform: translateX(-100px);
	}
	.layer-2 {
		padding-top: 150px;
		height: 630px;
	}
	.layer-2 .l2-heading {
		font-size: 40px;
	}
	.layer-2 .l2-underheading {
		font-size: 30px;
	}
	.layer-2 .l2-container {
		margin-top: 60px;
	}
	.layer-2 .col .img {
		width: 60px;
		height: 60px;
	}
	.layer-2 .col .img::before {
		width: 60px;
		height: 60px;
	}
	.layer-2 .heading {
		font-size: 35px;
	}
	.layer-2 .text {
		font-size: 22px;
	}
	.layer-3 {
		height: 520px;
		padding: 65px 50px 0px 50px;
	}
	.layer-3 .l3-container .batteries {
		width: 65%;
	}
	.layer-3 .l3-container .batteries .battery {
		width: 260px;
		height: 50px;
		padding: 10px 20px;
	}
	.layer-3 #btr1 {
		width: 200px;
	}
	.layer-3 #btr2 {
		width: 180px;
	}
	.layer-3 #btr3 {
		width: 120px;
	}
	.layer-3 #btr4 {
		width: 100px;
	}
	.layer-4 .roadmap .dot-wrapper {
		transform: translate3d(-20px, -110px, 0);
	}
	.layer-4 .roadmap .col.right {
		transform: translate3d(30px, -100px, 0);
	}
	.layer-4 .col .bubble {
		width: 370px;
		height: 370px;
	}
	.layer-4 .col .bubble2 {
		width: 440px;
		height: 440px;
		top: -35px;
		left: -35px;
	}
	.layer-4 .col p {
		width: 90%;
		padding: 99px 80px;
		font-size: 18px;
		transform: translateX(0);

	}
	@keyframes playSwitchhh {
		from {
			opacity: 0;
			filter: alpha(opacity=0);
			transform: scale(0.2);
		} to {
			opacity: 1;
			filter: alpha(opacity=100);
			transform: scale(1);
		}
	}
	.layer-5 {
		padding-top: 60px;
	}
	.layer-5 .portfolio .col {
		height: 275px;
	}
	.layer-5 .warning {
		font-size: 16px;
	}
	.layer-5 .portfolio .col .col-bg h2 {
		font-size: 25px;
	}
	.layer-5 .portfolio .col .col-bg p {
		font-size: 13px;
		transform: translateY(-20px);
	}
	.layer-5 .portfolio .col .col-bg p#lowerr {
		font-size: 13px;
		transform: translateY(-10px);
	}
	.layer-5 .portfolio .col:hover .col-bg p {
		transform: translateY(-20px) scale(1);
	}
	.layer-5 .portfolio .col:hover .col-bg p#lowerr {
		transform: translateY(-10px) scale(1);
	}
	.layer-5 .divider {
		height: 40px;
	}
	.layer-6 {
		height: 520px;
	}
	.layer-6 .container {
		padding: 125px 110px 0px;
	}
	.layer-6 .col h2 {
		font-size: 30px;
	}
	.layer-6 .col p {
		font-size: 21px;
	}
	.p1img::before {
		left: -40px;
		top: -10px;
		width: 22px;
		height: 40px;
	}
	.p2img::before {
		left: -43px;
		top: -5px;
		width: 30px;
		height: 30px;
	}
	.p3img::before {
		left: -45px;
		top: -2px;
	}
	.layer-6 form {
		padding: 5px 25px 15px;
	}
	.layer-6 form p.formWarning {
		font-size: 14px;
	}
	.layer-6 form input[type="text"] {
		border-bottom: 1px solid #333;
		height: 30px;
		font-size: 14px;
	}
	.layer-6 form textarea {
		border-bottom: 1px solid #333;
		height: 40px;
		font-size: 14px;
	}
	.layer-6 form input[type="submit"] {
		font: 16px/30px josefinL;
		width: 130px;
		height: 30px;
	}
}
@media only screen and (max-width: 600px) {
	div#modal {
		width: 600px;
		margin-left: -300px;
	}
	div#modal .modal-container .modal-bg {
		width: 70px;
		height: 60px;
		margin-left: -35px;
	}
	div#modal .X {
		width: 40px;
		height: 60px;
	}
	div#modal:hover .modal-container .modal-bg {
		width: 800px;
		height: 200px;
		left: -100px;
		margin-left: 0;
	}
	.modal-links .modal-flex-col {
		width: 300px;
		height: 65px;
		flex-direction: column;
		margin-top: 10px;
	}
	.layer-1 {
		margin: auto;
		height: 400px;
		padding-top: 150px;
	}
	.layer-1 .heading {
		font-size: 50px;
	}
	.layer-1 .underheading {
		font-size: 18px;
	}
	.layer-1 .icon-container {
		display: none;
	}
	.avatar-divider::before {
		width: 200px;
		height: 200px;
		top: -120px;
		transform: translateX(-100px);
	}
	.layer-2 {
		padding-top: 100px;
		height: 1120px;
	}
	.layer-2 .l2-container {
		margin-top: 50px;
	}

	.layer-2 .col .img {
		width: 60px;
		height: 60px;
	}
	.layer-2 .col .img::before {
		width: 60px;
		height: 60px;
	}
	.layer-2 .l2-heading {
		font-size: 30px;
	}
	.layer-2 .l2-underheading{
		font-size: 22px;
		padding: 0 20px;
	}
	.layer-2 .heading {
		font-size: 36px;
	}
	.layer-2 .text {
		font-size: 24px;
	}
	.layer-2 .col {
		width: 100%;
		margin-top: 30px;
		box-sizing: border-box;
		padding-bottom: 30px;
	}
	.layer-3 {
		padding: 50px 15px 50px 15px;
		height: 700px;
	}
	.layer-3 h1 {
		font-size: 35px;
	}
	.batteries .col.right {
		width: 100%;
		transform: translateX(0);
	}
	.batteries .col.left {
		width: 100%;
		transform: translateX(0);
	}

	.layer-3 #btr1 {
		width: 150px;
	}
	.layer-3 #btr2 {
		width: 140px;
	}
	.layer-3 #btr3 {
		width: 120px;
	}
	.layer-3 #btr4 {
		width: 100px;
	}
	.layer-3 .l3-container .batteries .battery {
		width: 200px;
		height: 40px;
		padding: 10px 15px;
	}
	.layer-3 .l3-container .batteries .battery .overload {
		height: 20px;
	}
	#btr1 {
		width: 145px;
	}
	#btr2 {
		width: 135px;
	}
	#btr3 {
		width: 90px;
	}
	#btr4 {
		width: 70px;
	}
	.layer-4 {
		display: none;
	}
	.layer-5 {
		padding-top: 40px;
	}
	.layer-5 h1 {
		font-size: 40px;
	}
	.layer-5 .portfolio {
		width: 100%;
	}
	.layer-5 .flex {
		flex-direction: column;
	}
	.layer-5 .box a div {
		opacity: 1;
		transform: scale(1);
	}
	.layer-5 .box h2 {
		font-size: 25px;
		transform: translate3d(-50%, -40px ,0);
	}
	.warning {
		font-size: 18px;
		width: 80%;
		margin: 40px auto 0;
	}
	.layer-6 {
		width: 100%;
		height: 700px;
		background-image: url('../images/bg5.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top right;
		transform: translateY(-5px);
	}
	.layer-6 .container .col.right {
		width: 100%;
		float: none;
		transform: translate3d(0,115px,0);
	}
	.layer-6 .container .col.left {
		width: 100%;
		float: none;
		transform: translate3d(0,50px,0);
	}
	.layer-6 .container {
		padding: 30px 20px;
	}
	.layer-6 .container .col.left h2::after {
		display: none;
	}
	.layer-6 .container .col.left .p1img,
	.layer-6 .container .col.left .p2img,
	.layer-6 .container .col.left .p3img {
		margin-left: 50px;
	}
	footer p {
		font-size: 100%;
	}
}

@media only screen and (max-width: 380px) {
	div#modal {
		width: 375px;
		margin-left: -187.5px;
	}
	div#modal .modal-container .modal-bg {
		width: 70px;
		height: 60px;
		margin-left: -35px;
	}
	div#modal .X {
		width: 40px;
		height: 60px;
	}
	div#modal:hover .modal-container .modal-bg {
		width: 575px;
		height: 200px;
		left: -100px;
		margin-left: 0;
	}
	.modal-links {
		padding: 0 20px;
	}
	.modal-links .modal-flex-col {
		width: 300px;
		height: 65px;
		flex-direction: column;
		margin-top: 10px;
	}
	.modal-links .modal-flex-col:nth-of-type(1) {
		margin-left: -30px;
	}
	.modal-links .modal-flex-col:nth-of-type(2) {
		margin-right: -30px;
	}
	.layer-1 .heading {
		font-size: 40px;
	}
	.layer-2 .l2-container {
		margin-top: 30px;
	}
	.layer-2 .l2-container .col {
		padding-bottom: 10px;
	}
	.layer-6 .col p {
		font-size: 18px;
	}
}